body{
   background-image: url("../img/imagem1.jpg");
   background-repeat: no-repeat;
   background-size: cover; 
}
.h1_{color:blue
}
#h1_inicial{color:rgb(232, 10, 58)
 }
 p{
    text-align: justify;
}
.container{
    display: flex;
    flex-direction: row;
}

.divpart02{
   background-color: blue;
   height: 200px;
   border-radius: 5%;
   padding: 30px;
   width: 50%;
   margin-right: 25px;
   border: 5px solid rgb(116, 43, 43);
   box-shadow: -8px 8px 20px beige;
   opacity: 0.9;
}

.divpart01{
    background-color: rgb(93, 145, 50);
    height: 200px;
    border-radius: 5%;
    padding: 30px;
    width: 50%;
    margin-right: 25px;
    border: 5px solid rgb(82, 82, 145);
    box-shadow: -8px 8px 20px beige;
    opacity: 0.9;
}


 #h2_inicial{color:rgba(36, 10, 185, 0.605)
 }
 #Computação2{background-color: aqua;
 }
 .divpart01{background-color: aqua;
text-align: initial;}
.divpart02{background-color: blueviolet;
    text-align: center;
}

.divpart02:hover{
    box-shadow: -8px 8px 20px rgb(226, 226, 42);
}
    
.divpart01:hover{
    box-shadow: -8px 8px 20px rgb(208, 208, 43);
}